<div class="is-flex is-flex-column is-align-items-center is-justify-content-center ml-2 mr-2">
  <div class="is-flex is-justify-content-space-between mt-2 feed-header">
    <button mat-raised-button color="primary" routerLink="/article">Créer un article</button>
    <mat-form-field>
      <mat-label>Trier par</mat-label>
      <mat-select [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange()">
        <mat-option *ngFor="let filter of filters" [value]="filter.value">
          {{ filter.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="post-container">
    <div *ngFor="let post of (this.filteredAndSortedPosts$ | async)" class="post">
      <p class="post-title mb-1 cursor-pointer" (click)="postDetails(post.id_post)">{{post.title}}</p>
      <div class="mb-1">
        <span class="mr-1 italic">Le {{post.created_at | date:'dd/MM/yyyy'}}</span>
        <span>par <span class="underline">{{post.author}}</span></span>
      </div>
      <div class="post-content">
        <p>{{post.content}}</p>
      </div>
    </div>
    <div *ngIf="(post$ | async)?.length == 0">
      <p class="italic">Pour afficher des articles vous devez vous abonner à au moins un thème.</p>
    </div>
  </div>
</div>
