<div class="is-flex is-flex-column is-align-items-center is-justify-content-center mt-1">
  <h1>Profil utilisateur</h1>
  <form class="is-flex is-flex-column is-align-items-center is-justify-content-center" [formGroup]="form"
        (ngSubmit)="submit()">
    <mat-form-field  class="input" appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <span *ngIf="onError" class="error mb-1">An error occurred</span>
    <span *ngIf="onSuccess" class="success mb-1">Vos informations ont été mis à jour</span>

    <button mat-raised-button color="primary">Sauvegarder</button>
  </form>
  <button mat-raised-button (click)="logOut()" class="logout-button">Se déconnecter</button>

  <hr class="separator mt-1"/>

  <subscription-list></subscription-list>
</div>
