
.post-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  width: 100%;
  margin-top: 1rem;
  row-gap: 1rem;
}

.post{
  background: #f5f5f5;
  min-width: 100%;
  min-height: 200px;
  border-radius: 1rem;
  padding: 1rem;
}

.post-title{
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 650px) {
  .feed-header{
    flex-direction: column;
    max-width: 250px;
    &>button{
      margin-bottom: 1rem;
    }
  }

  .post-container{
    grid-template-columns: 1fr;
  }

}
