<div class="mt-2 ml-2">
  <div class="cursor-pointer" (click)="goBack()"><img src="assets/arrow-back.png" alt=""></div>
</div>
<div class="is-flex is-flex-column is-align-items-center is-justify-content-center">

  <div *ngIf="post$ | async as post" class="post">
    <p class="post-title mb-1">{{post.title}}</p>
    <div class="mb-1">
      <span class="italic">Le {{post.created_at | date:'dd/MM/yyyy'}} par {{post.author}} </span><span class="tag">{{post.topic}}</span>
    </div>
    <div class="post-content">
      <p>{{post.content}}</p>
    </div>
  </div>

  <hr class="separator"/>
</div>

<div class="comment-list-container">
  <comment-list></comment-list>
</div>

