.post{
  width: 100%;
  padding: 1rem 5rem;
}

.post-title{
  font-weight: bold;
  font-size: 20px;
}

.tag{
  background: rgba(117, 80, 236, 0.65);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  color: white;
  font-weight: 500;
}

.separator{
  height: 2px;
  background: black;
  width: calc(100% - (5rem) * 2);
}
comment-list{
  width: 100%;
}

.comment-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 5rem;
}

@media only screen and (max-width: 650px) {
  .post{
    padding: 1rem 2rem;
  }

  .separator{
    width: calc(100% - (2rem) * 2);
  }

  .comment-list-container{
    margin: 1rem 2rem;
  }
}
